*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    background-color: #222;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    position: absolute;
    top: 25%;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: firebrick;
}

span {
    font-size: 5rem;
    font-family: monospace;
    border: 1px solid #6767;
    padding: 15px;
    background-color: #6767;
    border-radius: 40px;
}




































